body {
  background-color: #070230;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  display: inline-block;
}
.App-logo-goblin {
  height: 100px;
  pointer-events: none;
  display: inline-block;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
}
.App-logo-goblin {
  animation: App-logo-spin2 infinite 1s linear;
}

.goblinModeReverse {
  animation: App-logo-spin2 infinite 3s linear;
}
.goblinMode {
  animation: App-logo-spin infinite 2s linear;
}
.goblinModeFast {
  animation: App-logo-spin infinite 1s linear;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.GOBLIN-MODE {
  animation: blinkingBackground 0.2s infinite;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App-logo-spin2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes blinkingBackground {
  0% {
    background-color: #024906;
  }
  50% {
    background-color: #94000a;
  }
  100% {
    background-color: #070230;
  }
}
